n8n/extrair-website.json
{
  "name": "English Lab — Extrair Vocabulário de Website",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "en-site",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "site-0001",
      "name": "Webhook URL",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "en-site"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst url = (body.url || '').trim();\nconst rawAI = (body.ai_provider || 'openai').toLowerCase();\nconst aiModel = (body.ai_model || '').trim();\nif (!url) throw new Error('URL não fornecida');\nif (!url.startsWith('http')) throw new Error('URL inválida: deve começar com http:// ou https://');\nconst validAI = ['openai', 'anthropic', 'google'];\nreturn [{ json: {\n  url,\n  ai_provider: validAI.includes(rawAI) ? rawAI : 'openai',\n  ai_model: aiModel\n} }];"
      },
      "id": "site-0002",
      "name": "Validar URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            }
          ]
        }
      },
      "id": "site-0003",
      "name": "Buscar Página",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Validar URL').first().json;\nconst err = $input.first().json;\nconst msg = err.message || err.cause?.message || 'Erro ao buscar a página';\nreturn [{ json: { words: [], count: 0, error: msg, source_url: validated.url } }];"
      },
      "id": "site-err-fetch",
      "name": "Erro — Buscar Página",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "site-resp-err-fetch",
      "name": "Responder Erro Fetch",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawHtml = $input.first().json.data || $input.first().json || '';\nconst validated = $('Validar URL').first().json;\nlet text = String(rawHtml)\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/\\s{2,}/g, ' ').trim();\nif (text.length > 4000) text = text.slice(0, 4000) + '...';\nreturn [{ json: {\n  text,\n  source_url: validated.url,\n  ai_provider: validated.ai_provider,\n  ai_model: validated.ai_model\n} }];"
      },
      "id": "site-0004",
      "name": "Extrair Texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ai-1",
                    "leftValue": "={{ $json.ai_provider }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "openai"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ai-2",
                    "leftValue": "={{ $json.ai_provider }}",
                    "rightValue": "anthropic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "anthropic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ai-3",
                    "leftValue": "={{ $json.ai_provider }}",
                    "rightValue": "google",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "google"
            }
          ],
          "fallbackOutput": 0
        },
        "options": {}
      },
      "id": "site-0005",
      "name": "Switch — Provedor IA",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.ai_model || 'gpt-4o-mini' }}\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"Analise este texto em inglês e identifique palavras, phrasal verbs e idioms de nível B2 ou acima que um estudante brasileiro intermediário provavelmente não conhece.\\n\\nRetorne SOMENTE um array JSON com até 20 itens, cada um com: word, context (a frase do texto onde aparece), type (word/phrasal_verb/idiom), level (B2/C1/C2).\\n\\nTexto:\\n{{ $json.text.replace(/\"/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').replace(/\\\\+/g, ' ') }}\\n\\nResposta (APENAS o array JSON):\"}\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "site-ai-openai",
      "name": "OpenAI — Identificar Vocabulário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.ai_model || 'claude-haiku-4-5-20251001' }}\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"Analise este texto em inglês e identifique palavras, phrasal verbs e idioms de nível B2 ou acima que um estudante brasileiro intermediário provavelmente não conhece.\\n\\nRetorne SOMENTE um array JSON com até 20 itens, cada um com: word, context (a frase do texto onde aparece), type (word/phrasal_verb/idiom), level (B2/C1/C2).\\n\\nTexto:\\n{{ $json.text.replace(/\"/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').replace(/\\\\+/g, ' ') }}\\n\\nResposta (APENAS o array JSON):\"}\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "site-ai-anthropic",
      "name": "Anthropic — Identificar Vocabulário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-header-auth",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json.ai_model || 'gemini-1.5-flash' }}:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\"parts\": [{\"text\": \"Analise este texto em inglês e identifique palavras, phrasal verbs e idioms de nível B2 ou acima que um estudante brasileiro intermediário provavelmente não conhece.\\n\\nRetorne SOMENTE um array JSON com até 20 itens, cada um com: word, context (a frase do texto onde aparece), type (word/phrasal_verb/idiom), level (B2/C1/C2).\\n\\nTexto:\\n{{ $json.text.replace(/\"/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').replace(/\\\\+/g, ' ') }}\\n\\nResposta (APENAS o array JSON):\"}]}\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "site-ai-google",
      "name": "Google Gemini — Identificar Vocabulário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        560
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "google-query-auth",
          "name": "Google Gemini API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "first"
      },
      "id": "site-merge-ia",
      "name": "Merge — Resposta IA",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst sourceData = $('Extrair Texto').first().json;\nconst provider = sourceData.ai_provider || 'openai';\n\nlet text = '';\nif (provider === 'openai') {\n  text = response.choices?.[0]?.message?.content || '[]';\n} else if (provider === 'anthropic') {\n  text = response.content?.[0]?.text || '[]';\n} else if (provider === 'google') {\n  text = response.candidates?.[0]?.content?.parts?.[0]?.text || '[]';\n}\n\nreturn [{ json: { raw_text: text, source_url: sourceData.source_url } }];"
      },
      "id": "site-0006",
      "name": "Normalizar — Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const { raw_text, source_url } = $input.first().json;\n\nlet words = [];\ntry {\n  const match = raw_text.match(/\\[[\\s\\S]*\\]/);\n  if (match) words = JSON.parse(match[0]);\n} catch(e) { words = []; }\n\nwords = words.map(w => ({\n  ...w,\n  source_type: 'website',\n  source_title: source_url\n}));\n\nreturn [{ json: { words, count: words.length, source_url } }];"
      },
      "id": "site-0007",
      "name": "Parsear Vocabulário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.words) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "site-0008",
      "name": "Responder com Lista",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const errData = $input.first().json;\nconst sourceData = $('Extrair Texto').first().json;\nconst provider = sourceData.ai_provider || 'openai';\nconst errMsg = errData.error?.message || errData.message || 'Erro ao chamar a IA';\nconst status = errData.error?.status || errData.statusCode || 0;\nlet userMsg = `Erro na IA (${provider}): ${errMsg}`;\nif (status === 401) userMsg = `Chave de API da ${provider} inválida ou não configurada no n8n.`;\nif (status === 402 || status === 529) userMsg = `Sem créditos na conta ${provider}. Adicione créditos no painel da ${provider}.`;\nif (status === 429) userMsg = 'Limite de requisições atingido. Aguarde alguns instantes.';\nreturn [{ json: { words: [], count: 0, error: userMsg, source_url: sourceData.source_url || '' } }];"
      },
      "id": "site-err-ia",
      "name": "Erro — IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "site-resp-err-ia",
      "name": "Responder Erro IA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        620
      ]
    }
  ],
  "connections": {
    "Webhook URL": {
      "main": [
        [
          {
            "node": "Validar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar URL": {
      "main": [
        [
          {
            "node": "Buscar Página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Página": {
      "main": [
        [
          {
            "node": "Extrair Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro — Buscar Página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro — Buscar Página": {
      "main": [
        [
          {
            "node": "Responder Erro Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Texto": {
      "main": [
        [
          {
            "node": "Switch — Provedor IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Provedor IA": {
      "main": [
        [
          {
            "node": "OpenAI — Identificar Vocabulário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic — Identificar Vocabulário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Gemini — Identificar Vocabulário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Identificar Vocabulário": {
      "main": [
        [
          {
            "node": "Merge — Resposta IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro — IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic — Identificar Vocabulário": {
      "main": [
        [
          {
            "node": "Merge — Resposta IA",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Erro — IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini — Identificar Vocabulário": {
      "main": [
        [
          {
            "node": "Merge — Resposta IA",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Erro — IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Resposta IA": {
      "main": [
        [
          {
            "node": "Normalizar — Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar — Resposta IA": {
      "main": [
        [
          {
            "node": "Parsear Vocabulário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Vocabulário": {
      "main": [
        [
          {
            "node": "Responder com Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro — IA": {
      "main": [
        [
          {
            "node": "Responder Erro IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "english-lab-site-002",
  "tags": [
    {
      "name": "english-lab"
    }
  ]
}